<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <!-- your custom css -->
      <link rel="stylesheet" href="css/custom.css">
    </head>
    <body class="bg-faded">
        <a  href="/" class="header d-flex justify-content-start align-items-end pl-2 pl-md-5 mb-5", lang="en">
            SOGANG  WISEMAN
        </a>
        <section class="container">
            <h1>게시글 리스트</h1>
                <!--수업이름-->
            <%@subgroups.each do |subgroup|%>
                <%= subgroup.title%><br>
            <%end%>
            <h3>-------------------------------------------------------</h3>
            <%@subgroups.each do |subgroup|%>
            <%= subgroup.prof_name%><br>
            <%end%>
            <%= form_tag(posts_show_path, :method => "get", id: "search-form", :class=>"form-inline search mb-3") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search 과목 / 교수명", :class=> "form-control mr-sm-2" %>
                <%= submit_tag "Search", :name => nil, :class=>"btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
            
            <%@posts.each do |onepost|%>
                <h2>title: <a href='/show_post/<%=onepost.id%>'><%=onepost.title%></a></h2>
            <%end%>
            
            <%= link_to 'menu', posts_index_path%>
            <!--글 제목, 내용, 댓글 대댓글 보여주는-->
            <footer class="footer my-5">
            <p class="copyright">&copy; 2017 Likelion Sogang</p>
        </footer>
        </section>
        
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>